.main-page {
  width: 100%; }

header {
  display: inline-block;
  width: 100%;
  padding: 0 40px;
  margin: 20px 0;
  background-color: white; }

.logo-search {
  width: 500px;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  margin-top: 20px;
  float: left; }

h2 {
  display: inline-block;
  text-align: left;
  color: #F76400;
  font-family: lora;
  font-weight: normal;
  font-size: 38px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 60px;
  top: -29px; }

#search {
  position: absolute;
  height: 30px;
  width: 300px;
  border-radius: 3px;
  top: -23px;
  left: 200px; }

#b1 {
  position: absolute;
  color: white;
  background-color: #2BA8C6;
  height: 34px;
  width: 80px;
  border-radius: 3px;
  left: 428px;
  top: -23px;
  font-size: 15px; }

.sell-reg-divs {
  width: 300px;
  text-align: center;
  display: inline-block;
  float: left;
  padding-left: 145px;
  margin-top: -2px; }

#sell {
  display: inline-block;
  margin: 0 0 0 0;
  padding-right: 30px;
  padding-top: 5px; }

#reg {
  display: inline-block;
  margin: 0;
  padding: 0; }

#sell a {
  display: inline-block;
  top: 45px;
  right: 380px;
  color: #2BA8C6;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  margin: 0; }

#reg a {
  display: inline-block;
  top: 45px;
  right: 300px;
  color: #2BA8C6;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  margin: 0; }

#b2 {
  float: right;
  color: #2BA8C6;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #2BA8C6;
  height: 34px;
  right: 200px;
  top: 35px;
  font-size: 15px; }

.cart {
  border-left: 1px solid;
  width: 150px;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  height: 50px;
  margin-top: -5px; }

#sprite-cart {
  display: inline-block;
  background: url("../images/cart.png") no-repeat 0 -1px;
  background-size: 16px 16px;
  width: 16px;
  height: 13px;
  vertical-align: middle;
  color: #666666; }

.cart h6 {
  padding: 0;
  margin: 0;
  color: #666666;
  line-height: 24px;
  font-weight: normal;
  font-size: 12px; }

.container1 {
  width: 100%;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 25px;
  background-color: white;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  background-color: white; }

.container1 ul li {
  display: inline-block;
  list-style: none;
  padding-left: 50px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px; }

.container1 a {
  text-decoration: none;
  color: #666666;
  font-weight: normal; }

.container2 {
  padding-left: 100px;
  margin: -17px auto;
  font-size: 13px;
  font-weight: normal;
  color: #666666;
  line-height: 50px;
  background-color: #F5F5F1; }

aside {
  line-height: 20px;
  width: 225px;
  font-size: 13px;
  color: #666666;
  padding: 0;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  float: left;
  margin-right: 7px; }

.side-left1 {
  border: 1px solid #ccc;
  background-color: white;
  background-color: #F5F5F1;
  border-radius: 2px; }

.side-left1 h4 {
  font-size: 13px;
  padding: 10px 0;
  margin: 0;
  background-color: white; }

.side-left1 ul {
  margin: 0;
  padding: 0 15px;
  list-style: none; }

.side-left1 ul li a {
  text-decoration: none;
  color: #0092B7; }

.side-left2 {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #0092B7;
  font-size: 13px;
  padding-left: 10px; }

.side-left2 h4 {
  color: #666666;
  font-size: 13px;
  padding-left: 10px; }

.price {
  display: inline-block;
  height: 70px; }

#low {
  float: left;
  width: 50px;
  height: 30px;
  margin-left: 10px; }

.price h4 {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #666666;
  padding-left: 10px;
  font-size: 13px; }

#high {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-left: 5px; }

.price-Arrow {
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-left: 10px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid grey; }

#img {
  position: absolute;
  top: 785px;
  left: 270px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #555555; }

.filter h4 {
  padding-left: 10px; }

.red {
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 3px;
  border: 1px solid grey; }

.orange {
  width: 22px;
  height: 22px;
  background-color: #FF7F00;
  border-radius: 2px;
  border: 1px solid grey; }

.yellow {
  width: 22px;
  height: 22px;
  background-color: #F4CD00;
  border-radius: 2px;
  border: 1px solid grey; }

.green {
  width: 22px;
  height: 22px;
  background-color: #00C400;
  border-radius: 2px;
  border: 1px solid grey; }

.blue {
  width: 22px;
  height: 22px;
  background-color: #00CCF5;
  border-radius: 2px;
  border: 1px solid grey; }

.purple {
  width: 22px;
  height: 22px;
  background-color: #A700F7;
  border-radius: 2px;
  border: 1px solid grey; }

.black {
  width: 22px;
  height: 22px;
  background-color: #000000;
  border-radius: 2px;
  border: 1px solid grey; }

.white {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid grey; }

.ord-opt h4 {
  padding-left: 10px; }
  .ord-opt h4 #cb1 {
    font-size: 13px;
    line-height: 20px; }

.loca {
  text-decoration: none;
  color: #2BA8C6; }

.display {
  display: inline-block;
  width: 800px;
  margin: 0 auto;
  margin-top: -19px;
  padding-left: 20px; }

.display h4 {
  font-size: 13px;
  font-weight: normal;
  color: green;
  float: right; }

.display h3 {
  font-size: 13px;
  font-weight: normal; }

.display h3 span {
  color: #2BA8C6; }

.details {
  display: inline-block;
  margin: 10px 75px 5px 75px;
  margin-left: 75px; }

.img-dis {
  width: 100%;
  height: 165px; }

.img-dis img {
  width: 100%;
  height: 155px;
  padding: 0;
  margin: 0; }

.wrap-element {
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: -6px;
  border: 1px solid #CBCCC9;
  width: 200px;
  height: 200px;
  position: relative; }
  .wrap-element h4 {
    padding: 0;
    margin: 0;
    line-height: 20px; }
  .wrap-element #ti {
    padding: 0 2px;
    margin: 0;
    line-height: 20px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .wrap-element #sh {
    width: 190px;
    margin: 0 2px;
    line-height: 20px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #C2C2C2;
    padding-left: 2px; }

.description {
  text-overflow: ellipsis;
  white-space: no-wrap;
  overflow: hidden; }

.hamburger-heart {
  position: absolute;
  top: -10px;
  right: 5px;
  display: none;
  padding: 0;
  margin: 0; }

#icon1 {
  background-color: white;
  padding: 2px;
  width: 22px;
  height: 20px; }

#ham-arrow {
  position: relative;
  overflow: auto;
  margin-top: 10px;
  width: 40px;
  height: 20px;
  background-color: white;
  display: inline-block;
  padding: 0; }

#icon2 {
  background-color: white;
  padding: 2px;
  width: 12px;
  height: 12px;
  float: left; }

#arrow {
  position: absolute;
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #c2c2c5 transparent transparent transparent; }

.show {
  display: block !important; }

.container3 {
  background-color: #F5F5F1;
  width: 99%;
  overflow: auto;
  padding-bottom: 0; }

.opt {
  width: 100%;
  background-color: #F5F5F1;
  display: inline-block;
  padding-left: 325px;
  line-height: 20px; }

.ul1 {
  background-color: #F5F5F1;
  list-style: none;
  font-weight: normal;
  display: inline-block;
  padding: 0; }

.ul2 {
  background-color: #F5F5F1;
  list-style: none;
  font-weight: normal;
  display: inline-block; }

.ul3 {
  background-color: #F5F5F1;
  list-style: none;
  font-weight: normal;
  display: inline-block;
  vertical-align: top; }

.related {
  float: right;
  width: 100%;
  color: black;
  font-weight: bold;
  background-color: #F5F5F1;
  overflow: hidden; }

#relate {
  line-height: 0px;
  padding-left: 325px; }

.list1 {
  list-style: none;
  line-height: 25px;
  margin-right: 20px; }

.list1 a {
  color: #0092B7;
  text-decoration: none; }

.list2 {
  list-style: none;
  line-height: 25px;
  margin-right: 20px; }

.list2 a {
  color: #0092B7;
  text-decoration: none; }

.list3 {
  list-style: none;
  line-height: 25px;
  margin-right: 20px; }

.list3 a {
  color: #0092B7;
  text-decoration: none; }

.look {
  font-weight: normal; }

.look a {
  text-decoration: none;
  color: #0092B7; }

.btn {
  display: block;
  margin-left: 325px; }

.footer-btn {
  width: 40px;
  height: 40px;
  font-weight: bold;
  line-height: 15px;
  background-color: white;
  font-size: 15px;
  margin-right: -6px;
  border: 1px solid #CBCCC9;
  pointer: hand; }

.footer-btn:hover {
  background-color: #F5F5F1; }

#fp {
  color: #AAAAAA;
  background-color: #F5F5F1; }

#dot {
  background-color: #F5F5F1; }

#one {
  background-color: #F1F1EB; }
