<!DOCTYPE html>
<html>
<head>
  <title>ETSY PAGE ASSIGNMENT 11</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="main-page">
  <header>
    <div class="logo-search">
      <h2>Etsy</h2>
      <input id ="search" type="text" name="search">
      <button id="b1">Search</button>
    </div>

    <div class="sell-reg-divs">
      <h4 id="sell"><a href="#">Sell on Etsy</a></h4>
      <h4 id ="reg"><a href="#">Register</a></h4>
      <button class="sell-reg" id="b2">Sign in</button>
    </div>

    <div class="cart" >
    <div id="sprite-cart"></div>
    <h6>Cart</h6> 
    </div>
  </header> 
  <hr>

 <div class="container1">
    <ul>
      <li><a href="#">Clothing & Accessories</a></li>
      <li><a href="#">Jewelry</a></li>
      <li><a href="#">Craft Supplies & Tools</a></li>
      <li><a href="#">Weddings</a></li>
      <li><a href="#">Entertainment</a></li>
      <li><a href="#">Home & Living</a></li>
      <li><a href="#">Kids & Baby</a></li>
      <li><a href="#">Vintage</a></li>
    </ul>
  </div>
<hr>
<div class="container2">
            <h4> Show Results for:</h4>

        <aside>
            <div class="side-left1">
            <ul>
                <h4>All Categories</h4>
                <li><a href="#">Home & Living</a></li>
                <li><a href="#">Weddings</a></li>
                <li><a href="#">Art & Collectibles</a></li>
                <li><a href="#">Clothing</a></li>
                <li><a href="#">Jewelry</a></li>
                <li><a href="#">Paper & Party Supplies</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Bags & Purses</a></li>
                <li><a href="#">Bath & Beauty</a></li>
                <li><a href="#">Craft Supplies & Tools</a></li>
                <li><a href="#">Electronics & Accessories</a></li>
                <li><a href="#">Books, Movies & Music</a></li>
                <li><a href="#">Pet Supplies</a></li>
                <li><a href="#">Toys & Games</a></li>
                <li><a href="#">Shoes</a></li>    
            </ul>  
            </div>
            
            <h4>Refine your search </h4>
            <div class="side-left2">
              <h4>Item Type</h4>
                <input id="rb" type="radio" name="item" value="All Items" checked> All Items<br>
                <input id="rb" type="radio" name="item" value="Handmade"> Handmade<br>
                <input id="rb" type="radio" name="item" value= "Vintage"> Vintage<br><br>
             
               <hr>
            <div class="price">
               <h4> Price</h4>
               <div>
                 <input type="text" id="low" placeholder="$ Low" >
                 <h4>to </h4>
                 <input type="text" id="high" placeholder=" $ High">
                 <button class="price-Arrow">
                   <div id="img"></div> 
                 </button>
                 
               </div>
            </div><br>
            <hr>
              <div class="filter">
                <h4>Filter by Color</h4>
                <button class="red"></button>
                <button class="orange"></button>
                <button class="yellow"></button>
                <button class="green"></button>
                <button class="blue"></button>
                <button class="purple"></button>
                <button class="black"></button>  
                <button class="white"></button>
              </div>
              <hr>

              <div class="ord-opt">
              <h4>Ordering Options</h4>
              <label> <input type="checkbox" id="cb1" value="first_checkbox">Accept Etsy Gift Cards</label><br>
              <label> <input type="checkbox" id="cb1" value="second_checkbox">Customizable</label> 
              </div>
              <hr>
              <div class="shop-loc">
                <h4>Shop Location</h4>
                <input type="radio" name="loc" value="Anywhere" checked> Anywhere<br>
                <input type="radio" name="loc" value="United States"> United States<br>
                <a href="#" class="loca">Choose a custom location</a>
              </div> 
              <hr>
              <div class="shipto">
                <h4> Ship To </h4>
                <select id="o1">
                  <option value= "USA" selected>United States of America </option><br>
                  <option value="South America">South America</option><br>
                  <option value= "Europe">Europe</option><br>
                  <option value="Asia">Asia</option><br>
                </select><br><br>
              </div>
          </div>
        </aside>
        <div class="display">
          <h3><span>All Categories</span> > "whiskey" (25,488 Results)</h3>
          <hr>
         <div class="details"></div>
</div>

<div class="container3">
    <div class="related">
     <h4 id="relate">Related to whiskey</h4> 
     <div class="opt">
       <ul class="ul1">
         <li class="list1"><a hef="#">whiskey barrel</a></li>
         <li class="list1"><a href="#">whiskey decanter</a></li>
         <li class="list1"><a href="#">whiskey stones</a></li>
         <li class="list1"><a href="#">jack daniels</a></li>
       </ul>
       <ul class="ul2">
         <li class="list2"><a href="#">bourbon</a></li>
         <li class="list2"><a href="#">scotch</a></li>
         <li class="list2"><a href="#">whiskey bottle</a></li>
         <li class="list2"><a href="#">beer</a></li>
       </ul>
       <ul class="ul3">
        <li class="list3"><a href="#">cigar</a></li>
        <li class="list3"><a href="#">flask</a></li>
       </ul>
       <h4 class="look">Looking for shops? <a href="#">  whiskeynweddingbells</a>,<a href="#">    WhiskeyDogWares</a>, <a href="#">  WhiskeysWhims. See more.  </a></h4>
      </div>
    </div>
</div>

<footer> 
<div class="btn">
      <button class="footer-btn" id="fp"><</button>
      <button class="footer-btn" id="one">1</button>
      <button class="footer-btn">2</button>
      <button class="footer-btn">3</button>
      <button class="footer-btn">4</button>
      <button class="footer-btn">5</button>
      <button class="footer-btn">6</button>
      <button class="footer-btn">7</button>
      <button class="footer-btn">8</button>
      <button class="footer-btn" id="dot">...</button>
      <button class="footer-btn">250</button>
      <button class="footer-btn" id="lp">></button>
</div>
</footer>
<hr>

  <script type="text/template" id="itemjstemplate">
  <div class="wrap-element">
      <div class="img-dis">
      <img src="<%= Images[0].url_170x135 %>">
      </div>
      <div class="description">
          <h5 id="ti"><%=title%></h5>
          <h4>$<%= price %> <%= currency_code%></h4>
          <h5 id="sh"> <%= Shop.shop_name %> </h5>
       </div>
       <div class="hamburger-heart">
          <img src="images/heart.png" id="icon1">
          <div id="ham-arrow">
          <img src="images/hamburger.png" id="icon2">
          <img id='arrow'>
          </div>
      </div>
    </div>
  </script>

  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>